@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR');


/* Begin HEADER */

.header-basic {
	background-color: #292c2f;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
	padding: 20px 40px;
	height: 100px;
	box-sizing: border-box;
}

.header-basic .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

/* Logo */

.header-basic .header-limiter h1 {
	float: left;
	font: normal 28px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin: 0;
    font-family: 'Noto Serif KR', sans-serif;
}

.header-basic .header-limiter h1 span {
	color: #5383d3;
}

/* The header links */

.header-basic .header-limiter a {
	color: #ffffff;
	text-decoration: none;
}


.header-basic .header-limiter nav{
	font:16px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: right;
}

.header-basic .header-limiter nav a{
	display: inline-block;
	padding: 0 5px;
	text-decoration:none;
	color: #ffffff;
	font-size: 16px;
	opacity: 0.9;
    font-family: 'Noto Serif KR', sans-serif;
}

.header-basic .header-limiter nav a:hover{
	opacity: 1;
}

.header-basic .header-limiter nav a.selected {
	color: #608bd2;
	pointer-events: none;
	opacity: 1;
}

/* Making the header responsive */

@media all and (max-width: 600px) {

	.header-basic {
		padding: 20px 0;
		height: 75px;
	}

	.header-basic .header-limiter h1 {
		float: none;
		margin: -8px 0 10px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}

	.header-basic .header-limiter nav {
		line-height: 1;
		float:none;
	}

	.header-basic .header-limiter nav a {
		font-size: 13px;
        display: none;
	}
    
    progress {
        display: none;
    }

}

/* END HEADER */

/* For the headers to look good, be sure to reset the margin and padding of the body */

body {
	margin:0;
	padding:0;
    font-family: 'Noto Serif KR', sans-serif;
}

progress {
    -webkit-appearance: progress-bar;
}

h4 {
    font-family: 'Noto Serif KR', sans-serif;
    padding-right: 3%;
}

#proPic {
    width: 30%;
    height: auto;
    border-radius: 100px;
    margin: 2%;
    border-style: none;
}

.leftside {
    text-align: center;
}

.rightside ul {
    padding-top: 10px;
    border-left: solid 1px lightgray;
}

h3 {
    font-family: 'Noto Serif KR', sans-serif;
}

h4 a {
    padding-top: 100px;
}

footer p {
    padding-top: 45px;
    padding-bottom: 45px;
}


